# Create the university network from student and lecturer data

In [1]:
import pandas as pd
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
from os.path import join
import datetime
import network_creation_functions as ncf
from importlib import reload

In [2]:
src = '../data/raw/Grunddaten-Simulation'

In [14]:
! ls ../data/raw/Grunddaten-Simulation

 Bedienstete_mit_DV_an_Org.csv	 Prüfungstermine.csv
 Lehrende.csv			 Räume.csv
 LV.csv				 Studiendaten.csv
 LV.xlsx			 Studierende_pro_LV.csv
 Prüfungen.csv			'Termine_mit_LV Bezug.csv'

In [44]:
semester_start = ncf.semester_start
semester_end = ncf.semester_end

## Load the relevant data

In [114]:
studies = pd.read_csv(join(src, 'Studiendaten.csv'))
studies = studies.rename(columns={
    'ST_PERSON_NR':'student_id',
    'STUDIENIDENTIFIKATOR':'study_id',
    'STUDIENBEZEICHNUNG':'study_name',
    'SEMESTERANZAHL':'term_number'
})


students = pd.read_csv(join(src, 'Studierende_pro_LV.csv'))
students = students.rename(columns={
    'ST_PERSON_NR':'student_id',
    'STP_SP_NR':'lecture_id',
    'LV_GRP_NR':'group_id'})
N = len(students['student_id'].unique())
students = students[students['student_id'].isin(studies['student_id'])]
print('there were {} unique sutdents in WiSe 2019/20'\
      .format(N))
print("dropped {} students because they don't have an assigned study"\
      .format(N - len(students['student_id'].unique())))


# all students should have a study and all students in the "study" data set 
# should exist in the "students" data set
assert len(set(students['student_id'].unique())\
           .difference(set(studies['student_id'].unique()))) == 0

lectures = pd.read_excel(join(src, 'LV.xlsx')) # throws a parser error if read as csv
lectures = lectures.rename(columns={
    'STP_SP_NR':'lecture_id',
    'STP_SP_TITEL':'lecture_name_ger',
    'STP_SP_TITEL_ENGL':'lecture_name'
})
N = len(lectures)
lectures = lectures[lectures['lecture_id'].isin(students['lecture_id'])]
print('{}/{} available lectures were visited by the students'\
      .format(len(lectures), N))

lecturers = pd.read_csv(join(src, 'Lehrende.csv'))
lecturers = lecturers.rename(columns={
    'PERSON_NR':'lecturer_id',
    'STP_SP_NR':'lecture_id',
    'LV_GRP_NR':'group_id'
})
N = len(lecturers)
lecturers = lecturers[lecturers['lecture_id'].isin(students['lecture_id'])]
print('{}/{} lecturers are active in courses that are visited by students'\
      .format(len(lecturers), N))


organisations = pd.read_csv(join(src, 'Bedienstete_mit_DV_an_Org.csv'))
organisations = organisations.rename(columns={
    'PERSON_NR':'lecturer_id',
    'ORG_NR':'organisation_id',
    'TUG_NEW.PUORG.GETNAME(A.ORG_NR)':'organisation_name'
})
# some lecturers have more than one affiliation. We keep a random affiliation
# and drop the others to keep things simple
#organisations = organisations.sample(frac=1, random_state=42)
#organisations = organisations.drop_duplicates(subset=['lecturer_id'])
print('lecturers are from {} organisations'\
      .format(len(organisations['organisation_id'].unique())))


# mapping of lecture group IDs to lecture IDs
groups = students[['lecture_id', 'group_id']].drop_duplicates().copy()
print('there are {} unique groups for the {} lectures'\
      .format(len(groups['group_id'].unique()), 
              len(groups['lecture_id'].unique())))

assert len(groups) == len(groups['group_id'].unique())


semester_start = '2019-10-01'
semester_end = '2020-02-28'
dates = pd.read_csv(join(src, 'Termine_mit_LV Bezug.csv'),
                parse_dates=['DATUM_AM', 'ZEIT_VON', 'ZEIT_BIS'], dayfirst=True)
dates = dates.rename(columns={
    'RES_NR':'room_id',
    'DATUM_AM':'date',
    'ZEIT_VON':'start_time',
    'ZEIT_BIS':'end_time',
    'STP_SP_NR':'lecture_id',
    'LV_GRP_NR':'group_id'
})
dates['start_time'] = dates['start_time'].apply(lambda x: x.time())
dates['end_time'] = dates['end_time'].apply(lambda x: x.time())

assert len(dates) == len(dates[dates['date'] >= pd.to_datetime(semester_start)])
assert len(dates) == len(dates[dates['date'] <= pd.to_datetime(semester_end)])

N = len(dates)
dates = dates[dates['lecture_id'].isin(lectures['lecture_id'])]
print('{}/{} dates are associated with lectures that are visited by the students'\
      .format(len(dates), N))

# note: manually filled in room information from rooms at KFU
rooms = pd.read_csv(join('../data/cleaned', 'Räume_cleaned.csv'), 
                    usecols=['RES_NR', 'RAUM_CODE', 'RAUM_SITZPLAETZE',
                            'QUADRATMETER', 'RAUM_GEBAEUDE_BEREICH_NAME'])
rooms = rooms.rename(columns={
    'RES_NR':'room_id',
    'RAUM_CODE':'room_code',
    'RAUM_SITZPLAETZE':'seats',
    'QUADRATMETER':'area',
    'RAUM_GEBAEUDE_BEREICH_NAME':'campus'
    
})
N = len(rooms)
rooms = rooms[rooms['room_id'].isin(dates['room_id'])]
print('{}/{} rooms are associated with lectures that are visited by the students'\
     .format(len(rooms), N))

there were 12711 unique sutdents in WiSe 2019/20
dropped 92 students because they don't have an assigned study
1801/6334 available lectures were visited by the students
10823/13212 lecturers are active in courses that are visited by students
lecturers are from 228 organisations
there are 2702 unique groups for the 1801 lectures
26010/29147 dates are associated with lectures that are visited by the students
381/2288 rooms are associated with lectures that are visited by the students

In [9]:
organisations.head(2)

,lecturer_id,organisation_id,organisation_name
0,12973,2913,Institut f�r Health Care Engineering mit Europ...
1,234,677,Institut f�r St�dtebau

In [10]:
students.head(3)

   student_id  lecture_id  group_id
0      183662      223024    255170
1      172878      226073    254793
2      193960      226598    260636

In [11]:
lectures.head(3)

,lecture_id,STP_SP_LVNR,SJ_NAME,SEMESTER_KB,lecture_name_ger,lecture_name,STP_SP_SST,STP_LV_ART_KURZ,STP_LV_ART_NAME,BETREUENDE_ORG_NR,BETREUENDE_ORG_NAME,Unnamed: 11
0,223321,710.095,2019/20,W,Bildverstehen,Image Understanding,1,KU,Konstruktions�bung,2376,Institut f�r Maschinelles Sehen und Darstellen,NaN
1,223319,710.085,2019/20,W,AK Computer Vision,Selected Topics Computer Vision,1,KU,Konstruktions�bung,2376,Institut f�r Maschinelles Sehen und Darstellen,NaN
2,225639,373.381,2019/20,W,Buchhaltung und Bilanzierung,Accounting and Balancing,1,UE,�bung,11072,Institut f�r Betriebswirtschaftslehre und Betr...,NaN

In [12]:
lecturers.head(3)

   lecturer_id  lecture_id  group_id
1        23030      221435    258144
2        71025      228594    263699
3       109917      225445    257591

In [13]:
studies.head(3)

,student_id,study_id,study_name,term_number
0,163460,UB 198 407 417 01,Bachelorstudium Lehramt Sek (AB); UF Englisch;...,7
1,208510,UB 198 410 411 01,Bachelorstudium Lehramt Sek (AB); UF Geographi...,1
2,187361,UB 198 420 414 01,Bachelorstudium Lehramt Sek (AB); UF Mathemati...,6

In [14]:
groups.head(3)

   lecture_id  group_id
0      223024    255170
1      226073    254793
2      226598    260636

In [24]:
dates.head(3)

   room_id       date start_time  end_time  lecture_id  group_id
0    27716 2019-10-25   10:15:00  11:00:00      227979    269598
1    27716 2020-01-31   10:15:00  11:00:00      227979    269598
4     1406 2019-12-17   09:00:00  12:00:00      228962    264420

In [116]:
rooms.head(3)

    room_id room_code  seats area        campus
10     5543   HFEG109   92.0    9  Inffeldgasse
12     1142  NA01158F   49.0   23  Alte Technik
21      485   PH02112   47.0   60  Neue Technik

## Create a sample network from a subset of students

In [147]:
# Bachelorstudium Molekularbiologie
sample_study_id = 'UF 033 665'

# Bachelorstudium Maschinenbau
sample_study_id = 'UF 033 245'

# Bachelorstudium Informatik
sample_study_id = 'UF 033 521'

In [150]:
sample_dates

       room_id       date start_time  end_time  lecture_id  group_id
46        2021 2019-10-28   09:00:00  12:00:00      221996    258681
50       27675 2019-10-28   16:00:00  19:00:00      222004    261735
173       1722 2019-10-28   16:00:00  16:30:00      225441    257587
174        323 2019-10-28   10:00:00  13:00:00      226169    254889
213        721 2019-10-28   10:00:00  12:00:00      226403    259033
...        ...        ...        ...       ...         ...       ...
28769    27671 2019-10-28   16:00:00  19:00:00      222004    261732
28972    21475 2019-10-28   08:15:00  10:00:00      225597    257743
29032    21965 2019-10-28   13:00:00  18:00:00      224158    256304
29061    13854 2019-10-28   14:45:00  16:45:00      222870    254635
29133      281 2019-10-28   11:00:00  12:30:00      222938    255084

[353 rows x 6 columns]

In [152]:
rooms

      room_id room_code  seats area        campus
10       5543   HFEG109   92.0    9  Inffeldgasse
12       1142  NA01158F   49.0   23  Alte Technik
21        485   PH02112   47.0   60  Neue Technik
23      12784   ATK1088   54.0   21  Alte Technik
24      18818   HS01030   20.0  NaN  Inffeldgasse
...       ...       ...    ...  ...           ...
2268    27372  BMTEG138  163.0  155  Neue Technik
2269    27674   KR01014   40.0   48  Neue Technik
2272    27676   KR01022   37.0   47  Neue Technik
2278    27561  BMT02020   30.0   69  Neue Technik
2283    27371  BMTEG038  104.0   43  Neue Technik

[381 rows x 5 columns]

In [172]:
reload(ncf)
sample_day = '2019-10-28' # a monday early in the semester
sample_dates = dates[dates['date'] == pd.to_datetime(sample_day)]

sample_student_ids, sample_students, sample_lecture_ids, sample_group_ids, \
    sample_lecturers, sample_lecturer_ids, sample_room_ids = \
    ncf.get_study_data(sample_study_id, studies, students, lecturers, groups,
                       rooms, dates)
print()

# Note: these are the lectures and groups that students of the sample study
# participated in. They are not necessarily part of the sample study plan

# lectures of the sample study that took place on the sample day
print('{} lectures took place on {}'\
      .format(len(sample_dates['lecture_id'].unique()), sample_day))

sample_lectures_on_sample_day_ids = set(sample_lecture_ids)\
    .intersection(set(sample_dates['lecture_id']))
print('{} of the lectures on {} were visited by students from the sample study'\
      .format(len(sample_lectures_on_sample_day_ids), sample_day))
print()

# students of the sample study that attended lectures on the sample day
students_at_uni_on_sample_day_ids = \
    sample_students[sample_students['lecture_id']\
    .isin(sample_lectures_on_sample_day_ids)]['student_id']
print('{} of the sample students attended lectures on {}'\
     .format(len(students_at_uni_on_sample_day_ids), sample_day))
print()


# groups of the sample study that took place on the sample day
print('{} groups took place on {}'\
      .format(len(sample_dates['group_id'].unique()), sample_day))

sample_groups_on_sample_day_ids = set(sample_group_ids)\
    .intersection(set(sample_dates['group_id']))
print('{} of the groups on {} were visited by students from the sample study'\
      .format(len(sample_groups_on_sample_day_ids), sample_day))
print()


# rooms the groups were taught in
sample_rooms_on_sample_day_ids = set(sample_room_ids)\
    .intersection(set(sample_dates['room_id']))
print('the lectures on {} were taught in {} rooms'\
      .format(sample_day, len(sample_dates['room_id'].unique())))
print('{} of the rooms that were used on {} were used by students from the sample study'\
      .format(len(sample_rooms_on_sample_day_ids), sample_day))
print()

# lecturers that taught groups of the sample study that took place on the
# sample day
print('{} lecturers were teaching on {}'\
      .format(len(lecturers[lecturers['group_id']\
        .isin(sample_dates['group_id'])]['lecturer_id'].unique()), sample_day))

lecturers_lecturing_on_sample_day_ids = \
    sample_lecturers[sample_lecturers['group_id']\
    .isin(sample_groups_on_sample_day_ids)]['lecturer_id'].unique()
print('{} of the lecturers were teaching groups visited by the sample students on {}'\
     .format(len(lecturers_lecturing_on_sample_day_ids), sample_day))

data for study UF 033 521 (Bachelorstudium; Informatik)
	the study has 904/12619 students
	the students participate in 472/1801 available lectures
	the lectures have 912 groups and the sample students participate in 637 of them
	the groups are taught by 652/1520 of the available lecturers
	the groups are taught in 169/381 of the available rooms

274 lectures took place on 2019-10-28
100 of the lectures on 2019-10-28 were visited by students from the sample study

1722 of the sample students attended lectures on 2019-10-28

334 groups took place on 2019-10-28
113 of the groups on 2019-10-28 were visited by students from the sample study

the lectures on 2019-10-28 were taught in 137 rooms
96 of the rooms that were used on 2019-10-28 were used by students from the sample study

467 lecturers were teaching on 2019-10-28
195 of the lecturers were teaching groups visited by the sample students on 2019-10-28

In [174]:
dates[(dates['group_id'] == 269598) & (dates['date'] == pd.to_datetime('2019-10-25'))]

   room_id       date start_time  end_time  lecture_id  group_id
0    27716 2019-10-25   10:15:00  11:00:00      227979    269598

In [188]:
max(0, -2)

0

In [199]:
reload(ncf)

plot_dst = '../plots/sample_networks'
network_dst = '../data/sample_networks'
all_days = list(dates['date'].unique())
all_days = [pd.to_datetime(sd) for sd in all_days]
all_days.sort()
sample_days = all_days[0:7]
frac = 0.5


contact_map = {
    'student_lecturer_group':'far', 
    'student_student_group':'far',
}

#for sample_day in sample_days: 
#    G = ncf.create_single_day_network(sample_students, sample_lecturers, studies,
#                                  organisations, dates, rooms, sample_day, frac)
#    ncf.draw_uni_network(G, sample_students, sample_lecturers, sample_day, 
#                         sample_study_id, plot_dst)
    
G = ncf.create_network(sample_students, sample_lecturers, studies, organisations, 
                              dates, rooms, sample_days, frac)

G.remove_nodes_from(list(nx.isolates(G)))
ncf.map_contacts(G, contact_map)
nx.readwrite.gpickle.write_gpickle(G, join(network_dst,'{}_{}_to_{}.bz2'\
        .format(sample_study_id.replace(' ', '-'),
                str(sample_days[0].date()), 
                str(sample_days[-1].date()))), protocol=4)

## Create networks for all studies individually

In [67]:
students_per_study = studies[['study_name', 'study_id', 'student_id']]\
    .groupby(['study_name', 'study_id'])\
    .count()\
    .sort_values(by=['student_id'], ascending=False)\
    .reset_index()\
    .rename(columns={'student_id':'student_count'})

students_per_study = students_per_study[students_per_study['student_count'] >= 20]
students_per_study.head(10)

,study_name,study_id,student_count
0,Bachelorstudium; Informatik,UF 033 521,1023
1,Bachelorstudium; Maschinenbau,UF 033 245,967
2,Bachelorstudium; Biomedical Engineering,UF 033 253,862
3,Bachelorstudium; Molekularbiologie,UB 033 665,854
4,Bachelorstudium; Bauingenieurwiss.u.Wirtschaft...,UF 033 264,849
5,Bachelorstudium; Architektur,UF 033 243,808
6,Bachelorstudium; Elektrotechnik,UF 033 235,766
7,Bachelorstudium; Wirtschaftsingenieurwesen-Mas...,UF 033 282,738
8,Bachelorstudium; Physik,UF 033 678,661
9,Bachelorstudium; Information and Computer Engi...,UF 033 211,653

In [55]:
reload(ncf)

plot_dst = '../plots/sample_networks'
network_dst = '../data/networks/sample_networks'
all_days = list(dates['date'].unique())
all_days = [pd.to_datetime(sd) for sd in all_days]
all_days.sort()
sample_days = all_days[0:7]

contact_map = {
    'student_lecturer_group':'far', 
    'student_student_group':'far',
}

for study in students_per_study['study_id']:
    for sample_day in sample_days: 
        G = ncf.create_single_day_network(sample_students, sample_lecturers, studies,
                                      organisations, dates, sample_day)
        ncf.draw_uni_network(G, sample_students, sample_lecturers, sample_day, 
                             sample_study_id, plot_dst)

    G = ncf.create_network(sample_students, sample_lecturers, studies, organisations, 
                                  dates, sample_days)

    G.remove_nodes_from(list(nx.isolates(G)))
    ncf.map_contacts(G, contact_map)
    nx.readwrite.gpickle.write_gpickle(G, join(network_dst,'{}_{}_to_{}.bz2'\
            .format(sample_study_id.replace(' ', '-'),
                    str(sample_days[0].date()), 
                    str(sample_days[-1].date()))), protocol=4)

Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday
Monday

## Create full university network

In [117]:
reload(ncf)

plot_dst = '../plots/sample_networks'
network_dst = '../data/networks/sample_networks'
all_days = list(dates['date'].unique())
all_days = [pd.to_datetime(sd) for sd in all_days]
all_days.sort()
sample_days = all_days[0:7]


contact_map = {
    'student_lecturer_group':'far', 
    'student_student_group':'far',
}

# create the full contact network for the whole university
G = ncf.create_network(students, lecturers, studies, organisations, 
                              dates, sample_days)

# remove disconnected
N = len(G.nodes())
G.remove_nodes_from(list(nx.isolates(G)))
print('removed {} disconnected nodes'.format(N - len(G.nodes())))

# map link types to contact strengths
ncf.map_contacts(G, contact_map)

# save the graph
nx.readwrite.gpickle.write_gpickle(G, join(network_dst,'university_{}_to_{}.bz2'\
        .format(str(sample_days[0].date()), 
                str(sample_days[-1].date()))), protocol=4)

removed 1785 disconnected nodes

### Network statistics

In [124]:
N_students = len([n for n in G.nodes(data='type') if n[1] == 'unistudent'])
N_lecturers = len([n for n in G.nodes(data='type') if n[1] == 'lecturer'])

In [126]:
N_students

11494

In [127]:
N_lecturers

839

In [128]:
N_students / (N_students + N_lecturers)

0.9319711343549826

In [129]:
N_lecturers / (N_students + N_lecturers)

0.06802886564501744

## Create university networks with reduced lecture sizes

In [204]:
reload(ncf)
fractions = [0.25, 0.5, 1.0]
network_dst = '../data/networks'
all_days = list(dates['date'].unique())
all_days = [pd.to_datetime(sd) for sd in all_days]
all_days.sort()
sample_days = all_days[0:7]

contact_map = {
    'student_lecturer_group':'far', 
    'student_student_group':'far',
}

for frac in fractions:

    # create the full contact network for the whole university with a given
    # fraction of studence in presence
    G = ncf.create_network(students, lecturers, studies, organisations, 
                                  dates, rooms, sample_days, frac=frac)

    # remove disconnected
    N = len(G.nodes())
    G.remove_nodes_from(list(nx.isolates(G)))
    print('removed {} disconnected nodes'.format(N - len(G.nodes())))

    # map link types to contact strengths
    ncf.map_contacts(G, contact_map)

    # save the graph
    nx.readwrite.gpickle.write_gpickle(G, join(network_dst,
        'university_{}_to_{}_fraction-{}.bz2'\
        .format(str(sample_days[0].date()), str(sample_days[-1].date()), frac)),
        protocol=4)

removing 6/17 students from room with 44 seats (occupancy 25%)
removing 185/202 students from room with 68 seats (occupancy 25%)
removing 16/23 students from room with 30 seats (occupancy 25%)
removing 5/12 students from room with 30 seats (occupancy 25%)
removing 9/14 students from room with 20 seats (occupancy 25%)
removing 24/71 students from room with 190 seats (occupancy 25%)
removing 11/18 students from room with 30 seats (occupancy 25%)
removing 123/198 students from room with 301 seats (occupancy 25%)
removing 45/120 students from room with 301 seats (occupancy 25%)
removing 16/28 students from room with 49 seats (occupancy 25%)
removing 4/15 students from room with 45 seats (occupancy 25%)
removing 19/25 students from room with 24 seats (occupancy 25%)
removing 40/69 students from room with 119 seats (occupancy 25%)
removing 26/34 students from room with 32 seats (occupancy 25%)
removing 27/36 students from room with 36 seats (occupancy 25%)
removing 12/15 students from room with 12 seats (occupancy 25%)
removing 97/137 students from room with 163 seats (occupancy 25%)
removing 11/20 students from room with 36 seats (occupancy 25%)
removing 16/19 students from room with 12 seats (occupancy 25%)
removing 29/74 students from room with 182 seats (occupancy 25%)
removing 54/99 students from room with 182 seats (occupancy 25%)
removing 35/80 students from room with 182 seats (occupancy 25%)
removing 9/13 students from room with 18 seats (occupancy 25%)
removing 45/90 students from room with 182 seats (occupancy 25%)
removing 10/17 students from room with 30 seats (occupancy 25%)
removing 18/46 students from room with 115 seats (occupancy 25%)
removing 236/278 students from room with 171 seats (occupancy 25%)
removing 137/192 students from room with 222 seats (occupancy 25%)
removing 5/12 students from room with 30 seats (occupancy 25%)
removing 286/333 students from room with 190 seats (occupancy 25%)
removing 43/88 students from room with 182 seats (occupancy 25%)
removing 36/43 students from room with 30 seats (occupancy 25%)
removing 8/15 students from room with 30 seats (occupancy 25%)
removing 93/163 students from room with 283 seats (occupancy 25%)
removing 303/333 students from room with 122 seats (occupancy 25%)
removing 7/12 students from room with 20 seats (occupancy 25%)
removing 2/6 students from room with 19 seats (occupancy 25%)
removing 191/214 students from room with 95 seats (occupancy 25%)
removing 6/37 students from room with 124 seats (occupancy 25%)
removing 3/6 students from room with 12 seats (occupancy 25%)
removing 119/194 students from room with 301 seats (occupancy 25%)
removing 51/80 students from room with 119 seats (occupancy 25%)
removing 23/30 students from room with 30 seats (occupancy 25%)
removing 13/23 students from room with 42 seats (occupancy 25%)
removing 1/4 students from room with 12 seats (occupancy 25%)
removing 8/15 students from room with 30 seats (occupancy 25%)
removing 199/244 students from room with 182 seats (occupancy 25%)
removing 5/16 students from room with 45 seats (occupancy 25%)
removing 9/13 students from room with 19 seats (occupancy 25%)
removing 29/36 students from room with 30 seats (occupancy 25%)
removing 92/132 students from room with 163 seats (occupancy 25%)
removing 2/5 students from room with 12 seats (occupancy 25%)
removing 26/36 students from room with 42 seats (occupancy 25%)
removing 50/56 students from room with 25 seats (occupancy 25%)
removing 39/114 students from room with 301 seats (occupancy 25%)
removing 77/119 students from room with 171 seats (occupancy 25%)
removing 30/153 students from room with 492 seats (occupancy 25%)
removing 7/11 students from room with 16 seats (occupancy 25%)
removing 25/37 students from room with 50 seats (occupancy 25%)
removing 23/31 students from room with 32 seats (occupancy 25%)
removing 7/15 students from room with 35 seats (occupancy 25%)
removing 37/46 students from room with 38 seats (occupancy 25%)
removing 12/20 students from room with 33 seats (occupancy 25%)
removing 12/20 students from room with 33 seats (occupancy 25%)
removing 11/19 students from room with 33 seats (occupancy 25%)
removing 36/43 students from room with 30 seats (occupancy 25%)
removing 4/8 students from room with 18 seats (occupancy 25%)
removing 7/11 students from room with 18 seats (occupancy 25%)
removing 32/39 students from room with 28 seats (occupancy 25%)
removing 22/26 students from room with 19 seats (occupancy 25%)
removing 38/93 students from room with 222 seats (occupancy 25%)
removing 11/17 students from room with 24 seats (occupancy 25%)
removing 116/166 students from room with 200 seats (occupancy 25%)
removing 2/12 students from room with 40 seats (occupancy 25%)
removing 17/27 students from room with 40 seats (occupancy 25%)
removing 10/20 students from room with 40 seats (occupancy 25%)
removing 2/5 students from room with 14 seats (occupancy 25%)
removing 10/22 students from room with 49 seats (occupancy 25%)
removing 11/23 students from room with 48 seats (occupancy 25%)
removing 16/23 students from room with 30 seats (occupancy 25%)
removing 41/96 students from room with 222 seats (occupancy 25%)
removing 8/19 students from room with 44 seats (occupancy 25%)
removing 324/447 students from room with 492 seats (occupancy 25%)
removing 63/86 students from room with 95 seats (occupancy 25%)
removing 1/4 students from room with 13 seats (occupancy 25%)
removing 41/61 students from room with 80 seats (occupancy 25%)
removing 24/31 students from room with 30 seats (occupancy 25%)
removing 161/284 students from room with 492 seats (occupancy 25%)
removing 6/8 students from room with 8 seats (occupancy 25%)
removing 5/8 students from room with 12 seats (occupancy 25%)
removing 64/124 students from room with 240 seats (occupancy 25%)
removing 5/11 students from room with 25 seats (occupancy 25%)
removing 11/18 students from room with 30 seats (occupancy 25%)
removing 16/37 students from room with 86 seats (occupancy 25%)
removing 6/10 students from room with 16 seats (occupancy 25%)
removing 65/77 students from room with 48 seats (occupancy 25%)
removing 37/48 students from room with 45 seats (occupancy 25%)
removing 26/46 students from room with 80 seats (occupancy 25%)
removing 8/18 students from room with 40 seats (occupancy 25%)
removing 9/19 students from room with 40 seats (occupancy 25%)
removing 3/12 students from room with 36 seats (occupancy 25%)
removing 5/14 students from room with 36 seats (occupancy 25%)
removing 5/14 students from room with 36 seats (occupancy 25%)
removing 16/27 students from room with 45 seats (occupancy 25%)
removing 1/10 students from room with 36 seats (occupancy 25%)
removing 48/57 students from room with 38 seats (occupancy 25%)
removing 26/40 students from room with 58 seats (occupancy 25%)
removing 6/11 students from room with 20 seats (occupancy 25%)
removing 12/41 students from room with 117 seats (occupancy 25%)
removing 18/46 students from room with 115 seats (occupancy 25%)
removing 141/172 students from room with 124 seats (occupancy 25%)
removing 2/8 students from room with 25 seats (occupancy 25%)
removing 4/7 students from room with 12 seats (occupancy 25%)
removing 14/23 students from room with 38 seats (occupancy 25%)
removing 34/51 students from room with 68 seats (occupancy 25%)
removing 213/268 students from room with 222 seats (occupancy 25%)
removing 7/12 students from room with 20 seats (occupancy 25%)
removing 138/185 students from room with 190 seats (occupancy 25%)
removing 170/230 students from room with 240 seats (occupancy 25%)
removing 17/20 students from room with 12 seats (occupancy 25%)
removing 52/66 students from room with 58 seats (occupancy 25%)
removing 10/17 students from room with 30 seats (occupancy 25%)
removing 12/22 students from room with 42 seats (occupancy 25%)
removing 47/76 students from room with 119 seats (occupancy 25%)
removing 16/23 students from room with 30 seats (occupancy 25%)
removing 30/36 students from room with 24 seats (occupancy 25%)
removing 132/172 students from room with 163 seats (occupancy 25%)
removing 6/16 students from room with 40 seats (occupancy 25%)
removing 20/29 students from room with 36 seats (occupancy 25%)
removing 41/50 students from room with 36 seats (occupancy 25%)
removing 159/234 students from room with 301 seats (occupancy 25%)
removing 9/84 students from room with 301 seats (occupancy 25%)
removing 79/108 students from room with 117 seats (occupancy 25%)
removing 66/86 students from room with 83 seats (occupancy 25%)
removing 129/171 students from room with 171 seats (occupancy 25%)
removing 47/107 students from room with 240 seats (occupancy 25%)
removing 8/11 students from room with 12 seats (occupancy 25%)
removing 7/9 students from room with 10 seats (occupancy 25%)
removing 208/248 students from room with 163 seats (occupancy 25%)
removing 17/29 students from room with 48 seats (occupancy 25%)
removing 20/27 students from room with 30 seats (occupancy 25%)
removing 13/29 students from room with 64 seats (occupancy 25%)
removing 8/24 students from room with 64 seats (occupancy 25%)
removing 45/55 students from room with 40 seats (occupancy 25%)
removing 21/30 students from room with 36 seats (occupancy 25%)
removing 452/512 students from room with 240 seats (occupancy 25%)
removing 22/32 students from room with 40 seats (occupancy 25%)
removing 36/44 students from room with 32 seats (occupancy 25%)
removing 2/5 students from room with 13 seats (occupancy 25%)
removing 4/11 students from room with 30 seats (occupancy 25%)
removing 24/48 students from room with 97 seats (occupancy 25%)
removing 1/7 students from room with 24 seats (occupancy 25%)
removing 9/14 students from room with 20 seats (occupancy 25%)
removing 15/19 students from room with 18 seats (occupancy 25%)
removing 10/14 students from room with 18 seats (occupancy 25%)
removing 86/161 students from room with 301 seats (occupancy 25%)
removing 29/46 students from room with 68 seats (occupancy 25%)
removing 118/149 students from room with 124 seats (occupancy 25%)
removing 13/23 students from room with 40 seats (occupancy 25%)
removing 29/55 students from room with 104 seats (occupancy 25%)
removing 5/10 students from room with 20 seats (occupancy 25%)
removing 56/116 students from room with 240 seats (occupancy 25%)
removing 15/55 students from room with 163 seats (occupancy 25%)
removing 25/32 students from room with 30 seats (occupancy 25%)
removing 191/212 students from room with 86 seats (occupancy 25%)
removing 2/13 students from room with 45 seats (occupancy 25%)
removing 64/84 students from room with 83 seats (occupancy 25%)
removing 51/63 students from room with 48 seats (occupancy 25%)
removing 10/19 students from room with 38 seats (occupancy 25%)
removing 6/16 students from room with 40 seats (occupancy 25%)
removing 41/60 students from room with 78 seats (occupancy 25%)
removing 141/264 students from room with 492 seats (occupancy 25%)
removing 6/17 students from room with 44 seats (occupancy 25%)
removing 315/356 students from room with 166 seats (occupancy 25%)
removing 31/37 students from room with 24 seats (occupancy 25%)
removing 17/43 students from room with 104 seats (occupancy 25%)
removing 161/284 students from room with 492 seats (occupancy 25%)
removing 225/234 students from room with 36 seats (occupancy 25%)
removing 7/16 students from room with 36 seats (occupancy 25%)
removing 8/49 students from room with 166 seats (occupancy 25%)
removing 65/96 students from room with 124 seats (occupancy 25%)
removing 20/29 students from room with 36 seats (occupancy 25%)
removing 15/27 students from room with 48 seats (occupancy 25%)
removing 9/21 students from room with 48 seats (occupancy 25%)
removing 6/18 students from room with 48 seats (occupancy 25%)
removing 11/14 students from room with 12 seats (occupancy 25%)
removing 59/71 students from room with 49 seats (occupancy 25%)
removing 111/132 students from room with 86 seats (occupancy 25%)
removing 6/10 students from room with 18 seats (occupancy 25%)
removing 11/16 students from room with 20 seats (occupancy 25%)
removing 26/36 students from room with 42 seats (occupancy 25%)
removing 12/19 students from room with 30 seats (occupancy 25%)
removing 5/25 students from room with 80 seats (occupancy 25%)
removing 8/11 students from room with 12 seats (occupancy 25%)
removing 200/229 students from room with 117 seats (occupancy 25%)
removing 8/17 students from room with 39 seats (occupancy 25%)
removing 179/254 students from room with 301 seats (occupancy 25%)
removing 39/53 students from room with 58 seats (occupancy 25%)
removing 83/94 students from room with 46 seats (occupancy 25%)
removing 33/78 students from room with 182 seats (occupancy 25%)
removing 68/75 students from room with 30 seats (occupancy 25%)
removing 22/34 students from room with 50 seats (occupancy 25%)
removing 6/13 students from room with 30 seats (occupancy 25%)
removing 59/114 students from room with 222 seats (occupancy 25%)
removing 54/177 students from room with 492 seats (occupancy 25%)
removing 2/17 students from room with 63 seats (occupancy 25%)
removing 25/53 students from room with 115 seats (occupancy 25%)
removing 24/29 students from room with 22 seats (occupancy 25%)
removing 5/9 students from room with 18 seats (occupancy 25%)
removing 259/300 students from room with 166 seats (occupancy 25%)
removing 8/19 students from room with 45 seats (occupancy 25%)
removing 30/34 students from room with 18 seats (occupancy 25%)
removing 77/119 students from room with 171 seats (occupancy 25%)
removing 39/48 students from room with 38 seats (occupancy 25%)
removing 201/256 students from room with 222 seats (occupancy 25%)
removing 8/28 students from room with 83 seats (occupancy 25%)
removing 26/34 students from room with 32 seats (occupancy 25%)
removing 27/36 students from room with 36 seats (occupancy 25%)
removing 30/153 students from room with 492 seats (occupancy 25%)
removing 140/160 students from room with 80 seats (occupancy 25%)
removing 5/14 students from room with 36 seats (occupancy 25%)
removing 11/23 students from room with 49 seats (occupancy 25%)
removing 17/29 students from room with 49 seats (occupancy 25%)
removing 2/15 students from room with 55 seats (occupancy 25%)
removing 7/16 students from room with 36 seats (occupancy 25%)
removing 5/14 students from room with 38 seats (occupancy 25%)
removing 7/14 students from room with 30 seats (occupancy 25%)
removing 2/14 students from room with 50 seats (occupancy 25%)
removing 4/6 students from room with 10 seats (occupancy 25%)
removing 54/99 students from room with 182 seats (occupancy 25%)
removing 35/80 students from room with 182 seats (occupancy 25%)
removing 165/188 students from room with 95 seats (occupancy 25%)
removing 16/44 students from room with 115 seats (occupancy 25%)
removing 99/130 students from room with 124 seats (occupancy 25%)
removing 7/15 students from room with 32 seats (occupancy 25%)
removing 325/385 students from room with 240 seats (occupancy 25%)
removing 5/13 students from room with 35 seats (occupancy 25%)
removing 2/17 students from room with 60 seats (occupancy 25%)
removing 12/28 students from room with 64 seats (occupancy 25%)
removing 309/432 students from room with 492 seats (occupancy 25%)
removing 150/191 students from room with 166 seats (occupancy 25%)
removing 6/26 students from room with 83 seats (occupancy 25%)
removing 115/160 students from room with 182 seats (occupancy 25%)
removing 2/9 students from room with 30 seats (occupancy 25%)
removing 4/13 students from room with 36 seats (occupancy 25%)
removing 4/9 students from room with 20 seats (occupancy 25%)
removing 107/137 students from room with 122 seats (occupancy 25%)
removing 168/189 students from room with 86 seats (occupancy 25%)
removing 30/75 students from room with 182 seats (occupancy 25%)
removing 161/206 students from room with 182 seats (occupancy 25%)
removing 86/161 students from room with 301 seats (occupancy 25%)
removing 33/43 students from room with 40 seats (occupancy 25%)
removing 4/6 students from room with 10 seats (occupancy 25%)
removing 109/132 students from room with 95 seats (occupancy 25%)
removing 8/10 students from room with 10 seats (occupancy 25%)
removing 9/21 students from room with 49 seats (occupancy 25%)
removing 9/13 students from room with 19 seats (occupancy 25%)
removing 8/15 students from room with 30 seats (occupancy 25%)
removing 9/19 students from room with 42 seats (occupancy 25%)
removing 7/18 students from room with 45 seats (occupancy 25%)
removing 11/18 students from room with 30 seats (occupancy 25%)
removing 102/225 students from room with 492 seats (occupancy 25%)
removing 108/149 students from room with 166 seats (occupancy 25%)
removing 32/39 students from room with 28 seats (occupancy 25%)
removing 197/214 students from room with 69 seats (occupancy 25%)
removing 303/333 students from room with 122 seats (occupancy 25%)
removing 40/60 students from room with 80 seats (occupancy 25%)
removing 168/197 students from room with 117 seats (occupancy 25%)
removing 18/93 students from room with 301 seats (occupancy 25%)
removing 37/57 students from room with 80 seats (occupancy 25%)
removing 39/69 students from room with 122 seats (occupancy 25%)
removing 19/47 students from room with 115 seats (occupancy 25%)
removing 124/166 students from room with 171 seats (occupancy 25%)
removing 128/144 students from room with 64 seats (occupancy 25%)
removing 9/13 students from room with 18 seats (occupancy 25%)
removing 2/12 students from room with 40 seats (occupancy 25%)
removing 42/56 students from room with 58 seats (occupancy 25%)
removing 18/44 students from room with 104 seats (occupancy 25%)
removing 41/72 students from room with 124 seats (occupancy 25%)
removing 1/11 students from room with 40 seats (occupancy 25%)
removing 2/13 students from room with 45 seats (occupancy 25%)
removing 6/11 students from room with 20 seats (occupancy 25%)
removing 47/76 students from room with 119 seats (occupancy 25%)
removing 35/47 students from room with 48 seats (occupancy 25%)
removing 68/97 students from room with 117 seats (occupancy 25%)
removing 3/17 students from room with 58 seats (occupancy 25%)
removing 5/25 students from room with 80 seats (occupancy 25%)
removing 23/35 students from room with 48 seats (occupancy 25%)
removing 13/24 students from room with 47 seats (occupancy 25%)
removing 13/22 students from room with 38 seats (occupancy 25%)
removing 10/22 students from room with 49 seats (occupancy 25%)
removing 12/15 students from room with 12 seats (occupancy 25%)
removing 2/11 students from room with 38 seats (occupancy 25%)
removing 6/15 students from room with 38 seats (occupancy 25%)
removing 7/11 students from room with 18 seats (occupancy 25%)
removing 12/23 students from room with 46 seats (occupancy 25%)
removing 51/80 students from room with 119 seats (occupancy 25%)
removing 46/70 students from room with 96 seats (occupancy 25%)
removing 14/25 students from room with 45 seats (occupancy 25%)
removing 30/36 students from room with 24 seats (occupancy 25%)
removing 1/4 students from room with 12 seats (occupancy 25%)
removing 9/22 students from room with 55 seats (occupancy 25%)
removing 16/29 students from room with 55 seats (occupancy 25%)
removing 3/7 students from room with 18 seats (occupancy 25%)
removing 214/274 students from room with 240 seats (occupancy 25%)
removing 10/19 students from room with 38 seats (occupancy 25%)
removing 180/227 students from room with 190 seats (occupancy 25%)
removing 25/45 students from room with 83 seats (occupancy 25%)
removing 31/48 students from room with 68 seats (occupancy 25%)
removing 9/16 students from room with 30 seats (occupancy 25%)
removing 199/244 students from room with 182 seats (occupancy 25%)

### Network statistics

In [205]:
for frac in fractions:
    G = nx.readwrite.gpickle.read_gpickle(join(network_dst, 
        'university_{}_to_{}_fraction-{}.bz2'\
        .format(str(sample_days[0].date()), str(sample_days[-1].date()), frac)))
    
    N_students = len([n for n in G.nodes(data='type') if n[1] == 'unistudent'])
    N_lecturers = len([n for n in G.nodes(data='type') if n[1] == 'lecturer'])
    
    print('occupancy: {}, lecturers: {}, students: {}'\
          .format(frac * 100, N_lecturers, N_students))

occupancy: 25.0, lecturers: 831, students: 8864
occupancy: 50.0, lecturers: 835, students: 10404
occupancy: 100.0, lecturers: 839, students: 11242

In [128]:
N_students / (N_students + N_lecturers)

0.9319711343549826

In [129]:
N_lecturers / (N_students + N_lecturers)

0.06802886564501744